<div id='map_container' style='width: 300px; height: 200px;'></div>

<script>

mapboxgl.accessToken = document.querySelector('meta[name="mapbox-access-token"]').content;

const latitude_initial = localStorage.getItem('latitude');
const longitude_initial = localStorage.getItem('longitude');

const latitude = parseFloat(latitude_initial);
const longitude = parseFloat(longitude_initial);

const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${encodeURIComponent(longitude)},${encodeURIComponent(latitude)}.json?access_token=${encodeURIComponent(mapboxgl.accessToken)}`;

const map = new mapboxgl.Map({
  container: 'map_container',
  style: 'mapbox://styles/mapbox/light-v11',
  center: [longitude, latitude],
  zoom: 15
});

var geojson = {
  type: 'FeatureCollection',
  features: [
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [parseFloat(longitude), parseFloat(latitude)]
      },
      properties: {
        title: 'Spotted here:',
        description: 'Washington, D.C.'
      }
    },
  ]
};

for (const feature of geojson.features) {
  const el = document.createElement('div');
  el.className = 'marker';

  new mapboxgl.Marker(el).setLngLat(feature.geometry.coordinates).addTo(map);
}

</script>
