<div id='map_container' style='width: 300px; height: 200px;'></div>

<script>

mapboxgl.accessToken = document.querySelector('meta[name="mapbox-access-token"]').content;

let latitude = localStorage.getItem('latitude');
let longitude = localStorage.getItem('longitude');

console.log(latitude, longitude);

const map = new mapboxgl.Map({
  container: 'map_container',
  style: 'mapbox://styles/mapbox/light-v11',
  center: [parseFloat(longitude), parseFloat(latitude)],
  zoom: 15
});

var geojson = {
  type: 'FeatureCollection',
  features: [
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [parseFloat(longitude), parseFloat(latitude)]
      },
      properties: {
        title: 'Spotted here:',
        description: 'Washington, D.C.'
      }
    },
  ]
};

for (const feature of geojson.features) {
  const el = document.createElement('div');
  el.className = 'marker';

  new mapboxgl.Marker(el).setLngLat(feature.geometry.coordinates).addTo(map);
}

</script>
