<h1>Editing bird</h1>

<%= render "edited_form", bird: @bird %>
<br>

<div class="centered">
  <%= link_to "Show this bird", @bird %> &nbsp; | &nbsp;
  <%= link_to "Back to birds", birds_path %>
</div>
