<%= render partial: "shared/navbar" %>

<h1>Birds</h1>

<div class="actions centered">
  <%= link_to "New bird", birds_camera_path, class: "new_bird_button" %>
</div>
<br>

<div class="actions centered">
  <%= link_to "Export Birding Journal", birds_export_path, class: "export_button" %>
</div>
<br>

<div id="birds">
  <% @birds.each do |bird| %>
    <%= render bird %>
  <% end %>
</div>
