<%= link_to "New bird", birds_photo_path %>
<br><br>

<h1>Birds</h1>

<%= link_to "Export Birding Journal", export_birding_journal_path(format: :pdf) %>

<div id="birds">
  <% @birds.each do |bird| %>
    <%= render bird %>
  <% end %>
</div>
