body {
  background: url('background.png');
  background-size: cover;
  margin: 10px;
  padding: 10px;
  font-family: Avenir;
}

h1 {
  font-size: xxx-large;
  font-weight: bolder;
  color: #703e3e;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: xxx-large;
  font-weight: bolder;
  color: #703e3e;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: x-large;
  font-weight: bold;
  color: black;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.25rem;
}

.centered_no_padding {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-75 {
  padding-right: 75px;
}

img, video {
  height: 150px;
  max-width: 100%;
}

a {
  color: lightseagreen;
}

#map {
  position: absolute;
  width: 100%;
}

.marker {
  background-image: url('mapbox-marker-icon-20px-pink.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.drawer {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.drawer-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.drawer-button {
  background-color: lightseagreen;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.drawer-side {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.drawer.open .drawer-side {
  transform: translateY(0);
}

.drawer.open .drawer-overlay {
  opacity: 1;
}

.drawer-menu {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  margin-bottom: 1rem;
}

.drawer-toggle {
  opacity: 0;
}

.sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.25rem;
}

.sign_up_button {
  background-color: lightskyblue;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
}

.submit_button {
  background-color: pink;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  font-family: Avenir;
}

.new_bird_button {
  background-color: darkcyan;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
}

.export_button {
  background-color: lightgray;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
}

.back_button {
  background-color: pink;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
}

.edit_button {
  background-color: lightskyblue;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
}

.delete_button {
  background-color: maroon;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  font-family: Avenir;
}

.customize_camera_button .camera_button {
  display: none;
}

.customize_camera_button label {
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
}

.background_color {
  background-color: blanchedalmond;
}
