body {
  background-color: blanchedalmond;
  margin: 10;
  padding: 10;
}

img, video {
  height: 150px;
  max-width: 100%;
}

a {
  color: lightseagreen;
}

h2 {
  font-size: larger;
  font-weight: bold;
}

#map {
  position: absolute;
  width: 100%;
}

.marker {
  background-image: url('mapbox-marker-icon-20px-pink.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
