body {
  background: url('background1.png');
  background-size: cover;
  margin: 10px;
  padding: 10px;
  font-family: Gill Sans, sans-serif;
}

.flex-container_left {
  width: 50%;
}

.flex-container_right {
  margin-left: auto;
  width: 50%;
}

.flex-item {
  text-align: center;
}

.app_name {
  color: #515A5A;
  font-family: Wawati SC
}

.logo_image {
  background-image: url('/assets/logo1.png');
  height: 50px;
  /* width: 78%;
  padding-left: 10px; */
  margin-left: 10px;
}

.nav {
  background-color: #F4F6F7;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  width: 25%;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: xxx-large;
  font-weight: bolder;
  color: #F4F6F7;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: xxx-large;
  font-weight: bolder;
  color: #703e3e;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: x-large;
  font-weight: bold;
  color: black;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered_with_padding {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.25rem;
}

.text_align_center {
  text-align: center;
}

.right {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.left {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  flex: 1;
}

.padding-75 {
  padding-right: 75px;
}

img {
  height: 150px;
  max-width: 100%;
}

video {
  max-width: 100%;
}

.video_margin {
  height: 350px;
  margin-top: -200px;
  margin-left: 50px;
}

.shadowing {
  box-shadow: 0 7.5px 15px 0 rgba(0, 0, 0, 0.8);
}

a {
  color: #515A5A;
}

#map {
  position: absolute;
  width: 100%;
}

.marker {
  background-image: url('mapbox-marker-icon-20px-pink.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.drawer {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.drawer-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.drawer-button {
  background-color: #E9EB78;
  color: black;
  font-size: 25px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 22px 22px 22px 22px;
}

.drawer-side {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.drawer.open .drawer-side {
  transform: translateY(0);
}

.drawer.open .drawer-overlay {
  opacity: 1;
}

.drawer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  margin-bottom: 1rem;
}

.drawer-toggle {
  opacity: 0;
}

.sign_up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.25rem;
}

.sign_up_button {
  background-color: #FA7A34;
  font-size: 25px;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  border-radius: 22px 22px 22px 22px;
}

.submit_button {
  background-color: #515A5A;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  font-family: Avenir;
  border-radius: 22px 22px 22px 22px;
}

.login_background {
  background-image: url('/assets/background1.png');
}

.new_bird_button {
  background-color: #E9EB78;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  border-radius: 22px 22px 22px 22px;
}

.manually_add_button {
  background-color: #E9EB78;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 22px 22px 22px 22px;
}

.export_button {
  background-color: #FA7A34;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  border-radius: 22px 22px 22px 22px;
}

.back_button {
  background-color: #FA7A34;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  border-radius: 22px 22px 22px 22px;
}

.edit_button {
  background-color: #FA7A34;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  border-radius: 22px 22px 22px 22px;
}

.delete_button {
  background-color: maroon;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  font-family: Avenir;
  border-radius: 22px 22px 22px 22px;
}

.customize_camera_button .camera_button {
  display: none;
}

.customize_camera_button label {
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
}

.background_color {
  background-color: blanchedalmond;
}

.card {
  background-color: #D6DBDF;
  border-radius: 4px;
  border: 5px solid #D6DBDF;
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
  padding-top: 45px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.9);
}

.required {
  display: inline-block;
  margin-left: 1px;
}

.notice_message {
  color: #515A5A;
  font-size: larger;
  font-weight: bolder;
}

.alert_message {
  background-color: maroon;
  color: #D6DBDF;
  font-size: larger;
  font-weight: bolder;
  height: 50px;
}

@media (max-width: 450px) {
  .card {
    width: 90%;
  }
}
