<div id="<%= dom_id image %>">
  <p>
    <strong>User:</strong>
    <%= image.user_id %>
  </p>

  <p>
    <strong>Bird:</strong>
    <%= image.bird_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image.image %>
  </p>

</div>
